In [4]:
import pandas as pd

In [5]:
df_old = pd.read_csv('data/df_old.csv')
df_new = pd.read_csv('data/df_new.csv')
df = pd.concat([df_old, df_new])
df.head()

,nom,prenom,age,taille,poids,sexe,sport_licence,niveau_etude,region,smoker,nationalité_francaise,revenu_estime_mois,montant_pret
0,Marie,Zoé,57,161.7,56.3,F,oui,bac+2,Normandie,non,non,1369,500.000000
1,Chauvet,Margot,57,173.0,61.9,H,oui,bac+2,Occitanie,non,oui,1842,12439.293590
2,Rousseau,Arthur,41,159.9,63.5,H,oui,bac,Bretagne,non,oui,3868,22954.672871
3,Mendès,Margaret,41,174.4,63.1,H,oui,bac+2,Normandie,non,oui,1495,11067.617423
4,Bertrand,Dominique,47,172.2,67.0,H,oui,master,Normandie,non,oui,3074,36525.375016

In [6]:
df['niveau_etude'].unique()

array(['bac+2', 'bac', 'master', 'doctorat', 'aucun'], dtype=object)

In [7]:
df['region'].unique()

array(['Normandie', 'Occitanie', 'Bretagne', 'Hauts-de-France', 'Corse',
       'Auvergne-Rhône-Alpes', 'Île-de-France',
       'Provence-Alpes-Côte d’Azur'], dtype=object)